<div class="container mx-auto ">
    <div class="max-w-sm border  border-gray-200 text-center">

        <figure>
            <img src="https://picsum.phs/200/300" alt="nombre" width="" height="" class="rounded-t-lg">
        </figure>
        <div>
            <h1>network Technology</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam unde magnam nihil, a quidem labore quae ipsa possimus doloribus ea architecto voluptatem dolore delectus modi quaerat iste veniam non maxime?
            </p>
            <a href="">Read More</a>
        </div>
    </div>
</div>